.cartel {
    text-align: center;
    overflow: auto;
    background: black;
    color: rgb(255,204,0);;
    font-size: 20px;    
    margin-left: auto;
    margin-right: auto;
    padding: 19px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.led-row {
    margin: 2px auto 2px auto;
}

.led {
    text-align: center;
    max-width: 23px;
    display: inline-block;
}

.led span {
    /*-webkit-transition: background 0.01s linear;
    -moz-transition: background 0.01s linear;
    -ms-transition: background 0.01s linear;
    -o-transition: background 0.01s linear;
    transition: background 0.01s linear;
    -webkit-transition: all 0.3s cubic-bezier(0.485, 0.030, 0.315, 1.630);
    -moz-transition: all 0.3s cubic-bezier(0.485, 0.030, 0.315, 1.630);
    -o-transition: all 0.3s cubic-bezier(0.485, 0.030, 0.315, 1.630);
    -ms-transition: all 0.3s cubic-bezier(0.485, 0.030, 0.315, 1.630);
    transition: all 0.3s cubic-bezier(0.485, 0.030, 0.315, 1.630);*/
    margin: 0 auto 0 auto;
    background-color: rgb(50,50,50);
    border-radius: 40%;
    width: 80%;
    display: inline-block;
}

.led.on span {
    background-color: rgb(255,204,0);;
}